/*Customizable SL+ theme: change the hex codes under "root"*/

  @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

*:not(.CodeMirror, .CodeMirror *, textarea, .ship-icon) {
    font-family: var(--fontfamily) !important;
    font-weight: var(--fontweight) !important;
}

b /* "Total", "Serverlist" text and System info (e.g "Mode" "ECP Count)*/ {
    color: var(--textcolour1); 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.bg-dark /* All "?" symbols */ {
    background-color: var(--miscbuttons)!important;
}
.bg-dark:hover{
    opacity: 0.7;
}

body /*Main body of theme*/ {
    color: var(--textcolour1);
    background-image: var(--backgroundimgurl);
    background-color: var(--backgroundcolour);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body::-webkit-scrollbar {
    display: none;
}

.btn:focus {
    outline-style: none;
    box-shadow: none;
}

.btn-danger /* "Search" magnifying glass icon */ {
    color: var(--titlescolour);
    text-shadow: 0px 0px 4px var(--titlesglow);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    background-image: var(--cardbackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
}
.btn-danger:hover {
    background-image: var(--cardbackgroundhover);
    background-color: transparent;
}

.btn-outline-danger /* "Share custom game", "Join game", "Copy" and "info" buttoms */ {
    color: var(--titlescolour);
    text-shadow: 0px 0px 4px var(--titlesglow);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    background-image: var(--cardbackground);
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}
.btn-outline-danger:hover {
    background-image: var(--cardbackgroundhover);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
}

.btn-outline-success /*"Custom theme" button*/ {
    color: var(--titlescolour);
    text-shadow: 0px 0px 4px var(--titlesglow);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    background-image: var(--cardbackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}  
.btn-outline-success:hover {
    background-image: var(--cardbackgroundhover);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
}

canvas /* map */{
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.card /*System info cards*/ {
    font-size: 20px;
    background-image: var(--cardbackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}
.card:hover{
    background-image: var(--cardbackgroundhover);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: var(--highlights)!important;
    border-width: 3px!important;
    box-shadow:
      0px 0px 8px var(--highlights);
}

.form-check-input:checked /* Check marks on settings panel */ {
    background-color: var(--miscbuttons);
    border-color: var(--miscbuttons);
}
.form-check-input:hover {
    opacity: 0.8;
}

h3 /*System name*/ {
    color: var(--titlescolour);
    text-shadow: 0px 0px 4px var(--titlesglow);
    font-size: 32px!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 /*Titles on settings panel*/ {
    color: var(--titlescolour);
    text-shadow: 0px 0px 4px var(--titlesglow);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: solid 3px #ffffff;
    padding: 2px;
}

i /* System info text (e.g "Team Mode" "0 crimes"*/ {
    color: var(--textcolour2); 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

label /* Settings panel sub-text*/ {
    color: var(--textcolour2);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.modal-content /* Custom theme editor pop-up*/ {
    background-image: linear-gradient(150deg, var(--colour1)  0%, var(--colour2) 100%);
    padding: 10px 10px;
}

.navbar {
    --bs-navbar-brand-color: var(--textcolour);
    --bs-navbar-brand-hover-color: var(--highlights);
}

.navbar-brand /* ServerList logo */ {
    font-size: 28px;
    background-image: var(--cardbackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 50px;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}

.navbar-light .navbar-nav .nav-link /* External links */ {
    color: transparent;
    text-shadow: none;
} 

.nav-link:hover {
    color: var(--highlights);
}

.player-view-box > * /* Player list on info pop-up*/ {
    font-size:0.9em!important;
}

.popover-body /* All pop-ups */{
    color: var(--textcolour) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    background-image: linear-gradient(150deg, var(--colour1)  0%, var(--colour2) 100%);
    border: 2px solid var(--highlights)
}  

#settingsPanel, #viewOptions /*Settings panel*/ {
    background-image: var(--cardbackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-color: var(--bordercolour1) var(--bordercolour2) var(--bordercolour2) var(--bordercolour1);
    border-style: solid;
    border-width: 3px;
    padding: 18px 18px;
    border-radius: 12px;
    max-height: 20%;
}

#settingsPanel::-webkit-scrollbar, #viewOptions::-webkit-scrollbar {
    display: none;
}

#systemsListContainer::-webkit-scrollbar {
    display: none;
}

#systemReport::-webkit-scrollbar {
    display: none;
}

.ship-icon /*Player list ship icons*/ {
    filter: invert(0.35) brightness(1.5);
}
